body {font-size: 18px;
	line-height: 1.5em;
	color: #2b2b2b;
	background-color: #fcf7f7;
	font-family: 'Tinos', serif;
	}


#wrapper {width: 31em;
	padding: 4.5em 20% 5em;
	margin:auto;
	}

h1 {font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	background-color: rgba(204, 204, 204, .95);
	padding-top: 0em;
	padding-bottom: .5em;
	width: 100%;
	position: fixed;
	height: 1.5em;
	line-height: 2em;
	text-align: center;
	}

h2 {font-size: 1.2em;
	padding-bottom: .5em;
	font-family: 'Montserrat', sans-serif;
	}

h3 {font-style: italic;
	padding-bottom: .25em;
	}

h4 {text-transform: uppercase;
	text-indent: 1em;
	}

li {padding-left: 1em;
	}

p {padding-left: 1em;
	padding-bottom: .3em;
	}

.spacer {height: .75em;
	}

a {text-decoration: none;
	color: #2b2b2b;
	font-weight: bold;
	}

a:hover {color: #858585;
	}


/* RESPONSIVE */


@media only screen and (max-width:930px){

	#wrapper {width: 31em;
	padding: 4em 10% 5em;
		}
	}

@media only screen and (max-width:653px){

	#wrapper {width: 80%;
	margin: 0;
		}
	}

@media only screen and (max-width: 320px) {

	#wrapper {width: 320px;
	padding-left: 5%;
	padding-right: 5%;
		}
	}


}



