
body {background-color: #ebeaea;
	color:#434444;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 300;
	line-height: 1.5em;
	}

.wrapper {
	width: 57em;
	margin: 0 auto;
	background-color: #f7f7f7;
	}

header {background-image: url("../images/header-img.jpg");
	}

/* NAVIGATION BAR */

nav {font-size: 1em;
	}

nav a {background-color: #434444;
	display: block;
	text-decoration: none;
	color: #b5b5b5;
	float: left;
	line-height: 2.5em;
	font-weight: 300;
	width: 14.25em;
	margin: ;
	}

nav a:hover {color: #f7f7f7;
	}

#current {color: #f7f7f7;
	}

/* CLARE ROHR */

h1 {font-family: Dosis, Sans-Serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	padding: 2em 0em 0.8em 0em;
	margin: 0;
	}


h1 a {text-decoration: none;
	color:#f7f7f7;
	}

h1 a:hover {color: #f7f7f7;
	}

/* HORIZONTAL RULE IN HEADER */

#hr1 {height: .11em;
	background-color: #f7f7f7;
	width: 11.7em;
	border: 0;
	margin-top: 0;
	clear: both;
	}

/* MISSION */

h2 {font-size:1em;
	font-weight: 300;
	color:#f7f7f7;
	padding-right:10.5em;
	padding-left:10.5em;
	padding-top: 1em; 
	padding-bottom: 4em;
	text-align: center;
	margin: 0;
	}

/* HORIZONTAL RULE BELOW BODY */

#hr2 {height: .11em;
	background-color: #b5b5b5;
	width: 15em;
	border: 0;
	margin-top: 1.5em;
	clear: both;
	}

/* FOOTER */

.footer {float: left;
	line-height: 2.6em;
	padding: 3em 0 3em 0;
	}

#intouch {padding-left: 4em;
	width: 15em;
	}

#socialgroup {padding-right: 4em;
	width: 15em;
	}

#emailme {width: 19em;
	}

.social {padding: 0 .25em;
	}

#copyright {
	background-color: #b5b5b5;
	color: #f7f7f7;
	text-align: right;
	font-size: .9em;
	margin: 0;
	padding-right: 8.5em;
	line-height: 2em;
	clear: both;
	}

/* home page - thumbnail images */

.row1 img {width: 63%;
	}

.row2 img {width: 63%;
	}

/* home page - thumbnail titles */

h3 {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	}

a:hover {color: #7c97a1;
	}

/* home page - thumbnail subtitles */

h4 {font-weight: 300;
	padding: 0;
	font-size: .9em;
	margin: 0em;
	font-style: italic;
	}

/* home page - thumbnails */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.row1 {float:left;
	padding: 5em 0em 2.5em 0em;
	width: 19em;
	}

.leftpad {padding-left: 4em;
	}

.rightpad {padding-right: 4em;
	}

.row2 {float:left;
	padding: 1em 0em 3em 0em;
	width: 19em;
	}

.link {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	text-decoration: none;
	color: #434444;
	}

/* project page - project links */

.projectlink {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	text-decoration: none;
	color: #434444;
	display: block;
	text-align: left;
	}

/* project page - container for project links */

#projects {float:left;
	padding-left: 5em;
	padding-top: 5em;
	}

/* project page - container for project image */

#projectimg {float:left;
	padding-top: 5em;
	padding-left:4em;
	padding-bottom: 4em;
	}

/* project page - container for description */

#description {float:right;
	width: 20%;
	text-align: left;
	padding-top: 5em;
	padding-right: 4em;
	margin-top: .5em;
	}

/* project page - highlights current project link */

#highlight {background-color: #d7e3e8;
	}



