body {background-color: #ebeaea;
	color:#434444;
	font-size: 18px;
	font-family: 'Open Sans', Sans-Serif;
	text-align: center;
	font-weight: 300;
	line-height: 1.5em;
	}

header {background-color: #7c97a1;
	}

nav {font-size: .9em;
	}

nav a {background-color: #434444;
	display: block;
	text-decoration: none;
	color: #f7f7f7;
	float: left;
	line-height: 2.5em;
	font-weight: 300;
	width: 256.25px;
	margin: ;
	}

h1 {font-family: Dosis, Sans-Serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 2em;
	text-align: center;
	color:#f7f7f7;
	font-weight: normal;
	padding: 2em 0em 0.8em 0em;
	margin: 0;
	}

h2 {font-size:1em;
	font-weight: 300;
	color:#f7f7f7;
	padding-right:10.5em;
	padding-left:10.5em;
	padding-top: 1em; 
	padding-bottom: 4em;
	text-align: center;
	margin: 0;
	}

h3 {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	}

h4 {font-weight: 300;
	padding: 0;
	font-size: .9em;
	margin: 0em;
	font-style: italic;
	}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.wrapper {
	width: 1025px;
	margin: 0 auto;
	background-color: #f7f7f7;
	}

.row1 {float:left;
	padding: 5em 0em 2.5em 0em;
	width: 341.66px;
	}

.row2 {float:left;
	padding: 1em 0em 3em 0em;
	width: 341.66px;
	}

#hr1 {height: 2px;
	background-color: #f7f7f7;
	width: 11.7em;
	border: 0;
	margin-top: 0;
	clear: both;
	}

#hr2 {height: 2px;
	background-color: #b5b5b5;
	width: 15em;
	border: 0;
	margin-top: 1.5em;
	clear: both;
	}

.footer {float: left;
	width: 341.66px;
	line-height: 2.6em;
	padding: 4em 0 3em 0;
	}

.social {padding: 0 .25em;
	}

#copyright {
	background-color: #b5b5b5;
	color: #f7f7f7;
	text-align: right;
	font-size: .9em;
	margin: 0;
	padding-right: 6.5em;
	line-height: 2em;
	clear: both;
	}


