
body {background-color: #ebeaea;
	color:#434444;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 300;
	line-height: 1.5em;
	}

.wrapper {width: 80%;
	margin: 0 auto;
	background-color: #f7f7f7;
	}

header {background-image: url("../images/header-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}

/* NAVIGATION BAR */

nav {font-size: 1em;
	padding-bottom: 5em;
	}

nav a {background-color: #434444;
	display: block;
	text-decoration: none;
	color: #b5b5b5;
	float: left;
	line-height: 2.5em;
	font-weight: 300;
	width: 25%;
	margin: ;
	}

nav a:hover {color: #f7f7f7;
	}

#current {color: #f7f7f7;
	}

/* CLARE ROHR */

h1 {font-family: Dosis, Sans-Serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	padding: 2em 0em 0.8em 0em;
	margin: 0;
	}


h1 a {text-decoration: none;
	color:#f7f7f7;
	}

h1 a:hover {color: #f7f7f7;
	}

/* HORIZONTAL RULE IN HEADER */

#hr1 {height: .11em;
	background-color: #f7f7f7;
	width: 11.7em;
	border: 0;
	margin-top: 0;
	clear: both;
	}

/* MISSION */

h2 {font-size:1em;
	font-weight: 300;
	color:#f7f7f7;
	width:36em;
	padding-top: 1em; 
	padding-bottom: 4em;
	text-align: center;
	margin: 0 auto;
	}

/* HORIZONTAL RULE BELOW BODY */

#hr2 {height: .11em;
	background-color: #b5b5b5;
	width: 15em;
	border: 0;
	margin-top: 1.5em;
	clear: both;
	}

/* FOOTER */

.footer {float: left;
	line-height: 2.6em;
	padding: 3em 0 3em 0;
	}

#intouch {padding-left: 7%;
	width: 26%;
	}

#socialgroup {padding-right: 5%;
	width: 26%;
	}

#emailme {width: 33%;
	}

.social {padding: 0 2%;
	}

#copyright {background-color: #b5b5b5;
	color: #f7f7f7;
	text-align: right;
	font-size: .9em;
	margin: 0;
	padding-right: 14%;
	line-height: 2em;
	clear: both;
	}

/* home page - thumbnail images */

.row img {width: 70%;
	}


/* home page - thumbnail titles */

h3 {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	}

a:hover {color: #7c97a1;
	}

/* home page - thumbnail subtitles */

h4 {font-weight: 300;
	padding: 0;
	font-size: .9em;
	margin: 0em;
	font-style: italic;
	}

/* home page - thumbnails */

.clearfix:after {visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.clearfix {width: 90%;
	margin: auto;
}

.row {float:left;
	padding: 1em 0em 1em 0em;
	width: 33%;
	}

.link {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	text-decoration: none;
	color: #434444;
	}

/* project page - project links */

.projectlink {font-weight: 400;
	padding: 0;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	text-decoration: none;
	color: #434444;
	display: block;
	text-align: left;
	}

#projectnav
	{display:none;
	}

/* project page - container for project links */

#projects {float:left;
	padding-left: 9%;
	padding-top: 1em;
	}

/* project page - container for project image */

#projectimg {float:left;
	padding-top: 1em;
	padding-left: 5%;
	padding-bottom: 4em;
	width: 45%;
	}

#projectimg img {width: 100%;
	}

/* project page - container for description */

#description {float:right;
	width: 11em;
	text-align: left;
	padding-top: 1em;
	padding-right: 8%;
	margin-top: .5em;
	}

/* project page - highlights current project link */

#highlight {background-color: #d7e3e8;
	}

/* RESPONSIVE */	

@media only screen and (min-width: 1025px) {
	.wrapper {width: 1026px;
		}
	}

@media only screen and (max-width: 1025px) {

	.wrapper {width: 100%;
	}

	h1 {padding-top: 1.25em;
		padding-bottom: .7em;
	}

	h2 {font-size: .95em;
		padding-top: .4em;
		padding-bottom: 2em;
		}

	.row {float:left;
		padding: 1em 0em 1em 0em;
		width: 50%;
		}

	}

@media only screen and (max-width: 715px) {

	h1 {padding-top: 1em;
		padding-bottom: 1em;
		}
	
	h2 {display: none;
		}

	h3 {font-size: 1.1em;
		}

	h4 {font-size: 1em;
		}

	#hr1 {display: none;
		}

	.row img {width: 80%
		}

	.footer {float: none;
		margin: auto;
		line-height: 2em;
		padding: 1em 0;
		}

	#intouch {display: none;
		}

	#socialgroup {
		width: 26%;
		padding: 0em 0em 1em 0em;
		}

	#emailme {width: 33%;
		padding-top: 2em;
		}

	.social {padding: 0 3%;
		}

	#copyright {text-align: center;
		padding: 0;
		}

	}

@media only screen and (max-width: 550px) {

	.row {width: 100%;
		margin: auto;
			}

	.row img {width: 75%
		}

	#emailme {width: 60%;
		}

	#socialgroup {
		width: 50%;
		}
	}

@media only screen and (max-width: 400px) {

	h1 {padding: .75em 0;
		}

	nav {padding-bottom: 4em;
		}


	.row img{ width: 80%;
		}

	.row {padding: 1em 0 0 0;}
		}

	#hr2 {width: 10em;
		}
	}

@media only screen and (max-width: 320px) {

	.wrapper {width: 320px;
		}

	}

/* RESPONSIVE FOR PROJECT PAGE*/

@media only screen and (max-width: 1137px) {
	#description {padding-right: 7%
		}

	#projects {padding-left: 7%;
		}
	}

@media only screen and (max-width: 830px) {

	#projects {display: none;
		}

	#projectnav {display:block;
		text-align: left;
		padding: 0 0 1em 8%;
		}

	.clickthru {font-style: italic;
		}

	#projectnav a {text-decoration: none;
		color: #434444;
		}

	#projectimg {float:left;
		padding-top: 1em;
		padding-left: 8%;
		padding-bottom: 4em;
		width: 50%;
		}

	#description {float:right;
		width: 11em;
		text-align: left;
		padding-top: 1em;
		padding-right: 8%;
		margin-top: .5em;
		}

	}

@media only screen and (max-width: 715px) {

	#projectnav {padding-left: 15%;
		}

	#projectimg {padding: 1em 0 1em;
		width: 100%;
		}

	#projectimg img {width: 70%;
		}

	#description {width: 68%;
		padding: 1em 16% 1em 16%;
		text-align: justify;
		}
	}

@media only screen and (max-width: 520px) {

	#projectnav {padding-left: 5%;
		}

	#projectimg img {width: 90%;
		}

	#description {
		width: 86%;
		padding: .5em 7% 1em 7%;

	}


