body{
	background-color: #f2f7f8;
	color: #2a1f22;
	font-family: sans-serif;
	text-align: center;
	}

h1{
	text-transform: uppercase;
	color: #2a1f22;
	font-weight: 500;
	margin-top: 40px;
	font-size:40px;
	font-family: Megrim;
	}

a{
	text-decoration: none;
	color: #f2f7f8;
	background-color: #2a1f22;
	padding: 7px;
	font-size: 14px;
	}

p{
	font-size:16px;
	margin-top: 30px;
	line-height: 25px;
	}

hr{ 

}

ul{
	display: inline-block;
	font-size: 16px;

}


#slogan {
	font-style:italic;
	font-size: 22px;
	font-weight: lighter;
	margin-top: 25px
	}

#list {
	margin-top: 20px;
	text-align: center;
	}

#contact {
	margin-top: 30px;
	}