/* GENERAL + HOME PAGE */

body {font-size:18px;
	font-family: 'Sorts Mill Goudy', serif;
	background-color: #c8cece;
	color: #2a1f22;
	text-align: center;
	-webkit-text-size-adjust: 100%;
		}
	
#wrapper {width: 1025px;
	margin:auto;
	background-color: #f5f5f5;
		}
	
header {
	background-image: url("../images/forest.jpg");
	background-color: #125c82;
	background-size:cover;
	background-repeat:no-repeat;
	height: 22em;
		}

h1 a {text-decoration: none;
	color: #bad6dc;
	font-size: 6em;
		}
	
h1 {font-family: 'Flamenco', sans-serif;
	padding-top: 7em;
	letter-spacing: 0.07em;
		}
	
h2 {font-family: 'Sorts Mill Goudy', serif;
	padding-top: 1.5em;
	padding-bottom: 2em;
	color: #bad6cd;
	font-size: 1.5em;
	font-style: italic;	
	letter-spacing: 0.07em;
		}

nav {background-color: #2a1f22;
		}
	
nav a {display: inline-block;
	color: #f2f7f8;
	text-decoration: none;
	width: 24%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
	letter-spacing: 0.07em;
		}
	
#current {color: #cecc2e;
		}
	
.clearfix:after {visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
		}
	
footer {clear:both;
	color: #f2f7f8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: .75em;
	background-color: #2a1f22;
	letter-spacing: 0.07em;
	padding-top: 1em;
	padding-bottom: 1em;
		}
	
#content {clear:both;
	margin:50px;
	}
	
.poems {width:13em;
	border-style: solid;
	border-color: #97a9ad;
	border-width: 0em;
	float:left;
	margin: 35px;
	background-image: url("../images/dotted-border.gif");
	background-size: 100%;
	background-repeat: no-repeat;
		}
		
.poems img {width:100%;
padding: 28% 0;
		}
		
#home .dotted-line {display:none
		}
	
/* POEM PAGES */


#poem-page header {height: 100px;
		}

#poem-page h1 a {font-size: 2em;
	font-weight: light;
		}
	
#poem-page h1 {padding-top: 1.75em;
	padding-left:9.5%;
	float: left;
		}

#poem-page h1 span {font-size: 0.8em;
	padding-left: 0.5em;
		}
	
#poem-page h2 {font-size: 1.65em;
	padding-top: 1.27em;
	padding-bottom: 0;
	float: left;
	padding-left: 0.6em;
		}

#poem-page nav {clear: both;
		}

#poem-page #wrapper {background-color: #97a9ad;
		}
		
#poem-wrapper {width:914px;
	margin: 0 auto;
		}	

#poem-title img, #poem-title-med img, #poem-title-short img {width: 250px;
		}

#poem-title-short {height: 90px;
	overflow: hidden;
	}	

#poem-title-med {height: 110px;
	overflow: hidden;
	}	
			
.dotted-line {
	width: 12em;
	margin-bottom: 1em;
	margin-top: 0.7em;
		}
#poem-content {margin: 5em auto 7em;
	line-height: 1.8em;
	background-color: #f5f5f5;
	float:left;
	width: 550px;
	padding: 5em 4em 8em;
		}
		
.spacing {padding-top: 1em;
		}

.break {display: none;
	}
		
#arrow-left a {float:left;
	font-size: 2.5em;
	margin-top: 8em;
	padding: 1em 1em 1em;
	font-family: 'Flamenco', serif;
	color:#f5f5f5;
	text-decoration: none;
		}

#arrow-right a {float:left;
	font-size: 2.5em;
	margin-top: 8em;
	padding: 1em 1em 1em;
	font-family: 'Flamenco', serif;
	color:#f5f5f5;
	text-decoration: none;
		}

#arrow-set {display:none;
		}
		

/* RESPONSIVE */

@media only screen and (max-width: 1025px){
	#wrapper {width: 100%;
	margin: 0;
		}

	#content {width:90%;
	margin: 50px auto;
		}
	
	.poems {width:28%;
	margin: 2.4%;
		}	
	}
	
@media only screen and (max-width: 930px){
	header {height: 20em;
		}

	h1 {padding-top: 6em;
		}

	#content {width:95%;
	margin-top: 30px;
	margin-bottom: 30px;
		}
	.poems {width:26%;
	margin: 3.25%;
		}
	
	/* poem pages - responsive */

	#arrow-left a {display:none;
		}
	#arrow-right a {display:none;
		}

	#arrow-set {display:block;
	padding: 1em 0 0;
	margin-left:70%;
		} 

	#arrow-set a {display:inline-block;
	font-size: 2em;
	padding: 0 1em 0;
	font-family: 'Flamenco', serif;
	color:#f5f5f5;
	text-decoration: none;
		}
		
	#spacer{width: 0.5em;
		display: inline-block;
		}

	#poem-wrapper {width:694px;
	margin: 0 auto;
		}

	#poem-content {margin: 1em auto 4em;
		}
	}
	
@media only screen and (max-width: 850px){
	header {height: 18em;
		}
		
	h1 {padding-top: 5em;
		}
		
	h1 a {font-size: 5em;
		}
		
	nav a {padding-top: 1.1em;
	padding-bottom: 1.1em;
		}

	/* poem page - responsive */

	#poem-wrapper {width:622px;
		}

	#poem-content {
	padding: 5em 2em 8em;
		}

	#arrow-set {margin-left:60%;
		} 

	}
			
@media only screen and (max-width: 730px){
	header {height: 16em;
		}
		
	h1 {padding-top: 4.5em;
		}
		
	h1 a {font-size: 4.5em;
		}
		
	nav a {padding-top: 1em;
	padding-bottom: 1em;
		}
	
	#content {margin-top: 20px;
	margin-bottom:20px;
		}
	}
	
@media only screen and (max-width: 675px){
	header {height: 15em;
		}
		
	h1 {padding-top: 4.25em;
		}
		
	h1 a {font-size: 4.25em;
		}
		
	h2 {font-size: 1.25em;
		}
		

	/* poem pages - responsive*/

	#poem-page h1 {padding-left:9%;
		}
	}

@media only screen and (max-width: 650px){

	#poem-wrapper {width:100%;
		}
		
	/* poem page - responsive */
		
	#poem-content {width:100%;
	padding: 4em 0.5em 6em;
		}
		
	#arrow-set {margin-left:60%;
		} 

	}

@media only screen and (max-width: 590px){
	header {height: 13em;
		}

	h1 {padding-top: 3.5em;
		}
		
	h1 a {font-size: 3.5em;
		}
		

	/* poem page - responsive */

	#poem-page h1 {padding-left: 0;
		}

	#poem-page header div {width: 345.5px;
		margin: auto;
		}

	}
	
@media only screen and (max-width: 550px){
		
	.poems {width: 39%;
	margin: 5%;
		}
		
	/* poem page - responsive */
		
		
	#arrow-set a {font-size: 1.75em;
		}
				
	#arrow-set {margin-left:60%;
	padding: 1em 0 0;
		} 
	}
		
@media only screen and (max-width: 500px){
	header {height: 12em;
		}

	h1 {padding-top: 3.25em;
		}
		
	h1 a {font-size: 3.25em;
		}
		
	#content {margin-top: 10px;
	margin-bottom:10px;
		}

	#arrow-set {margin-left:55%;
	padding: 1em 0 0;
		} 

	#spacer{width: .35em;
		display: inline-block;
		}
		
		/* poem page - responsive */
	
	#poem-content {font-size: 0.9em;
	
	}
	
@media only screen and (max-width: 468px){
		
	h2 {padding-top: 1em;
		}
	
	/* poem page - responsive */
	
	#poem-content {padding: 3em 0.2em 4em;
		}	
	
	}
	
@media only screen and (max-width: 434px){
	header {height: 10em;
		}

	h1 {padding-top: 2.75em;
		}
		
	h1 a {font-size: 2.75em;
		}

	.poems {width: 38%;
	margin: 5.25%;
		}
		
	/* poem page - responsive */	
		
	#poem-content{font-size: .8em;
	padding: 3em .1em 4em;
		}

	#arrow-set {margin-left:50%;
	padding: 1em 0 0;
		} 

	#spacer{width: .25em;
		display: inline-block;
		}
		
	}


@media only screen and (max-width: 400px){
	header {height: 10em;
		}
		
	h1 a {font-size: 2.5em;
		}
	
	nav a {font-size:.8em;
		}
	
	.poems {width: 41%;
	margin: 3.75%;
		}

	/* poem page - responsive */

	#poem-page header div {width: 305px;
		}

	#poem-page h1 a {font-size: 1.75em;
		}
	
	#poem-page h1 {padding-top: 2em;
		}

	#poem-page h2 {font-size: 1.45em;
		padding-top: 1.58em;
		}
	
	#arrow-set a {font-size: 1.75em;
		padding: 0 .75em 0;
		}
				
	#arrow-set {margin-left:50%;
		padding: .7em 0 0;
		} 
	}

@media only screen and (max-width: 390px){

.break {display: block;
		}

	}

		
@media only screen and (max-width: 351px){
	header {height: 8.25em;
		}

	h1 {padding-top: 2.25em;
		}
		
	h1 a {font-size: 2.25em;
		}
			
	h2 {font-size: 1.1em;
	padding-top: 0.75em;
		}
		
	nav a {font-size: .75em;
	width:23%;
	padding-left: 0%;
	padding-right: 0%;
		}		

	/* poem page - responsive */

	#poem-page header div {width: 269.5px;
		}

	#poem-page h1 a {font-size: 1.5em;
		}

	#poem-page h2 {font-size: 1.3em;
	padding-top: 1.67em;
	padding-left: 0.6em;
		}
	
	#arrow-set a {font-size: 1.75em;
		}
				
	#arrow-set {margin-left:45%;
	padding: .8em 0 0;
		} 
	}
	
@media only screen and (max-width: 320px){
	header {height: 7.5em;
		}
		
	h1 {padding-top: 2em;
		}
		
	h1 a {font-weight: light;
		}
	
	#content {width:98%;
	margin-top: 0;
	margin-bottom: 30px;
	margin-left:1%;
	margin-right:1%;
		}

	.poems {border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:none;
	width: 220px;
	padding: 0;
	background-image: none;
	margin: 0 50px 0;
		}
		
	.poems img {width:100%;
	padding: 14% 0;}
	
	#home .dotted-line {display:block;
	width: 12em;
	margin: 0 auto;
		}
		
	/* poem page - responsive */

		
	#poem-content {padding: 2em 0.1em 3em;
		} 	
		
	}

@media only screen and (max-width: 320px){
	#wrapper {width:320px;
		}
	}


	

	
		